---
const { title } = Astro.props;
import BaseHead from "./BaseHead.astro";
import 'css-preflight/preflight';
import 'css-preflight/smooth-scroll';
import 'css-preflight/enhancements';
---
<!doctype html>
<html lang="en">
<BaseHead title={title} />
<body>
<slot />
</body>
</html>
