---
const { title } = Astro.props;
import BaseStyles from "./BaseStyles.astro";
import BaseHead from "./BaseHead.astro";
---
<!doctype html>
<html lang="en">
<BaseHead title={title} />
<body>
<slot />
</body>
</html>
<BaseStyles />
