---
const { title } = Astro.props;

import BaseHead from "./BaseHead.astro";
import BaseStyles from './BaseStyles.astro'
---
<!doctype html>
<html lang="en">
<BaseHead title={title} />
<body>
<slot />
</body>
</html>
<BaseStyles />